@model GroceryStore.Models.ErrorViewModels.ErrorCodeViewModel
@{
    ViewData["Title"] = $"{Model.ErrorCode} Error";
}

<h2 class="text-danger">@Model.ErrorCode Error</h2>
<p>@Model.ErrorDescription</p>
