USE [master]
GO
/****** Object:  Database [GroceryStore]    Script Date: 2019-02-20 3:56:57 PM ******/
CREATE DATABASE [GroceryStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GroceryStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GroceryStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GroceryStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GroceryStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GroceryStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GroceryStore]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckPostalCode]    Script Date: 2019-02-20 3:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[CheckPostalCode](@ProvinceStateId int, @postalCode nvarchar(7))
returns bit
begin
	declare @useState bit = (select UseState from ProvinceState where ProvinceStateId = @ProvinceStateId);

	if (@useState = 1)
	begin
		if (len(@postalCode) = 5 and isnumeric(@postalCode) = 1)
		begin
			return 1;
		end
	end
	else
	begin
		if (@postalCode like '[A-Z][0-9][A-Z] [0-9][A-Z][0-9]')
		begin
			return 1;
		end
	end

	return 0;
end
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2019-02-20 3:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
 CONSTRAINT [Category_PK] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversion]    Script Date: 2019-02-20 3:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversion](
	[ConversionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
 CONSTRAINT [Conversion_PK] PRIMARY KEY CLUSTERED 
(
	[ConversionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grocery]    Script Date: 2019-02-20 3:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grocery](
	[GroceryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[Weight] [decimal](18, 3) NULL,
	[ConversionId] [int] NULL,
	[ImageURL] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageAlt] [nvarchar](50) NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [Grocery_PK] PRIMARY KEY CLUSTERED 
(
	[GroceryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 2019-02-20 3:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[ProvinceStateId] [int] NOT NULL,
	[PostalCode] [nvarchar](7) NOT NULL,
 CONSTRAINT [Location_PK] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProvinceState]    Script Date: 2019-02-20 3:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvinceState](
	[ProvinceStateId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](3) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UseState] [bit] NOT NULL,
 CONSTRAINT [ProvinceState_PK] PRIMARY KEY CLUSTERED 
(
	[ProvinceStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 2019-02-20 3:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[LocationId] [int] NOT NULL,
	[GroceryId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [Stock_PK] PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name], [Code]) VALUES (1, N'Produce', N'PROD')
INSERT [dbo].[Category] ([CategoryId], [Name], [Code]) VALUES (2, N'Deli', N'DEL')
INSERT [dbo].[Category] ([CategoryId], [Name], [Code]) VALUES (3, N'Bakery', N'BAKE')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Conversion] ON 

INSERT [dbo].[Conversion] ([ConversionId], [Name], [Code]) VALUES (1, N'Kilograms', N'Kg')
INSERT [dbo].[Conversion] ([ConversionId], [Name], [Code]) VALUES (2, N'Pounds', N'lbs')
SET IDENTITY_INSERT [dbo].[Conversion] OFF
SET IDENTITY_INSERT [dbo].[Grocery] ON 

SET IDENTITY_INSERT [dbo].[Grocery] OFF
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationId], [Address], [City], [ProvinceStateId], [PostalCode]) VALUES (1, N'123 Main St', N'Toronto', 1, N'A1B 2C3')
INSERT [dbo].[Location] ([LocationId], [Address], [City], [ProvinceStateId], [PostalCode]) VALUES (2, N'356 Barton St', N'New York', 11, N'12345')
SET IDENTITY_INSERT [dbo].[Location] OFF
SET IDENTITY_INSERT [dbo].[ProvinceState] ON 

INSERT [dbo].[ProvinceState] ([ProvinceStateId], [Code], [Name], [UseState]) VALUES (1, N'ON', N'Ontario', 0)
INSERT [dbo].[ProvinceState] ([ProvinceStateId], [Code], [Name], [UseState]) VALUES (2, N'QC', N'Quebec', 0)
INSERT [dbo].[ProvinceState] ([ProvinceStateId], [Code], [Name], [UseState]) VALUES (3, N'NS', N'Nova Scotia', 0)
SET IDENTITY_INSERT [dbo].[ProvinceState] OFF
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([StockId], [LocationId], [GroceryId], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Stock] ([StockId], [LocationId], [GroceryId], [Quantity]) VALUES (2, 1, 2, 1)
INSERT [dbo].[Stock] ([StockId], [LocationId], [GroceryId], [Quantity]) VALUES (3, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[Stock] OFF
ALTER TABLE [dbo].[Grocery]  WITH CHECK ADD  CONSTRAINT [Grocery_Category_FK] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Grocery] CHECK CONSTRAINT [Grocery_Category_FK]
GO
ALTER TABLE [dbo].[Grocery]  WITH CHECK ADD  CONSTRAINT [Grocery_ConversionId_FK] FOREIGN KEY([ConversionId])
REFERENCES [dbo].[Conversion] ([ConversionId])
GO
ALTER TABLE [dbo].[Grocery] CHECK CONSTRAINT [Grocery_ConversionId_FK]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [Location_ProvinceStateId] FOREIGN KEY([ProvinceStateId])
REFERENCES [dbo].[ProvinceState] ([ProvinceStateId])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [Location_ProvinceStateId]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [Stock_GroceryId_FK] FOREIGN KEY([GroceryId])
REFERENCES [dbo].[Grocery] ([GroceryId])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [Stock_GroceryId_FK]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [Stock_LocationId_FK] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [Stock_LocationId_FK]
GO
ALTER TABLE [dbo].[Grocery]  WITH CHECK ADD  CONSTRAINT [Grocery_ImageAlt_CK] CHECK  (([ImageURL] IS NOT NULL AND [ImageAlt] IS NOT NULL OR [ImageURL] IS NULL))
GO
ALTER TABLE [dbo].[Grocery] CHECK CONSTRAINT [Grocery_ImageAlt_CK]
GO
ALTER TABLE [dbo].[Grocery]  WITH CHECK ADD  CONSTRAINT [Grocery_Price_CK] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Grocery] CHECK CONSTRAINT [Grocery_Price_CK]
GO
ALTER TABLE [dbo].[Grocery]  WITH CHECK ADD  CONSTRAINT [Grocery_Weight_CK] CHECK  (([Weight]>=(0)))
GO
ALTER TABLE [dbo].[Grocery] CHECK CONSTRAINT [Grocery_Weight_CK]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [Location_PostalCode_CK] CHECK  (([dbo].[CheckPostalCode]([ProvinceStateId],[PostalCode])=(1)))
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [Location_PostalCode_CK]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [Stock_Quantity_CK] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [Stock_Quantity_CK]
GO
USE [master]
GO
