/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner-item-svg-img {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Custom CSS */
.font-weight-bold {
    font-weight: bold;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after,
span.details-control-open::before,
span.details-control-collapsed::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
}

table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}

table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

.details-control,
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle {
    color: #737373;
    padding: 5px;
    border-radius: 50%;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
    color: #333333;
}

span.details-control-open::before,
span.details-control-collapsed::before {
    margin-right: 5px;
}

span.details-control-open::before {
    content: "\f056";
    color: #cf3131;
}

span.details-control-collapsed::before {
    content: "\f055";
    color: #41b941;
}

.link-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.link-disable-underline:hover, .link-disable-underline:focus {
    text-decoration: none;
}

.hidden {
    display: none;
}

.d-inline-block {
    display: inline-block;  /* displays as an inline block element */
}

.d-block {
    display: block; /* displays as a block element */
}

.vertical-align-to-control {
    margin-top: 25px;   /* align it so that it lines up vertically with a control on the left or right if label is over control in bootstrap */
}

.selectable-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectable-image > .selectable-image-info {
    position: absolute;
    padding: 5px;
    background-color: #e8e8e8;
    text-decoration: none;  /* incase inside link */
    border-radius: 5px;
    color: black;
    opacity: 0.8;
    z-index: 1; /* proper sort order */
}

.selectable-image > img {
    width: 100%;    /* force image into div; doesn't work alone by default */
}

.badge a, .badge a:hover, .badge a:focus {
    color: inherit; /* disable button like link when anchor element is nested inside */
}

@media only screen and (min-width: 1200px) {
    .modal-dialog.modal-dialog-wide {
        width: 1200px;
    }
}

@media only screen and (max-width: 1199px) {
    .modal-dialog.modal-dialog-wide {
        width: 100%;
        margin: 10px;   /* override any margin for smaller screen sizes */
    }
}

@media only screen and (min-width: 577px) {
    .modal-dialog.modal-dialog-wide img {
        max-width: 320px;
        max-height: 320px;
    }
}

/* scale image lower on smaller phones */
@media only screen and (max-width: 576px) {
    .modal-dialog.modal-dialog-wide img {
        max-width: 240px;
        max-height: 240px;
    }
}

.highlight {
    background-color: yellow;
}