/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Custom CSS */
.thumbnail-size {
    max-height: 200px;
    max-width: 200px;
}

.font-weight-bold {
    font-weight: bold;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after,
span.details-control-open::before,
span.details-control-collapsed::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
}

table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}

table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

tr.details-control {
    cursor: pointer;
}

span.details-control-open::before,
span.details-control-collapsed::before {
    margin-right: 5px;
}

span.details-control-open::before {
    content: "\f056";
    color: #cf3131;
}

span.details-control-collapsed::before {
    content: "\f055";
    color: #41b941;
}

.hidden {
    display: none;
}